.home {
    padding: 40px;
    display: flex;
}

/* Mobile styles */
@media (max-width: 767px) {
    .home {
      padding: 20px;
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
}