.right{
    display: flex;
    flex-direction: column;
    width: 60%;
    padding: 20px;
    min-height: 1000px;
    /* overflow-y: scroll; */
    /* margin-right: 5vw; */
    position: relative;
    top: 30px;
    gap: 80px
}

/* Mobile styles */
@media (max-width: 767px) {
    .right {
        display: flex;
        width: 100%;
        padding: 20px;
        margin-left: 0;
        height: unset;
    }
}

/* .about{
    font-size: 18px;
} */

.experience {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.job {
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.job_dates{
    min-width: 120px;
}

.job_details{ 
    display: flex;
    flex-direction: column;
    font-size: 16px;
}

.job_title {
    display: flex;
    flex-direction: row;
    gap: 5px;
    flex-wrap: wrap;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;

}

.job_skills{
    display: flex;
    flex-direction: row;
    gap: 5px;
    flex-wrap: wrap;
}

.skill {
    border-radius: 1em;
    background: rgba(255, 255, 255, .1);
    padding: 10px;
    font-size: 14px;
    width: fit-content;

}